/**
** phan responsive cho mobile
 */

div.mobile-d-none,
div.detail-bg-head,
div.grid-sort-c div.kt-detail-bottom-right div.title button i {
    display: none;
}

.grid-sort {
    display: inherit;
    min-width: 320px;
}

div.grid-sort div.grid-sort-c,
div.grid-sort div.grid-sort-d {
    border-width: 0;
}

div.grid-sort-c div.kt-detail-bottom-right {
    overflow: hidden;
    max-width: 100%;
    padding: 0 0 20px 0;
    background-color: #000000d1;
}

div.grid-sort-c div.kt-detail-bottom-right div.title {
    padding: 0 20px;
}

div.kt-detail-right div.kt-user-follow div.right {
    text-align: right;
    padding-right: 30px;
}

div.detail-project-other {
    padding-left: 10px;
    width: 1150px;
}

div.kt-project-item {
    max-width: 270px;
    min-width: 270px;
    margin: 10px;
}

div.kt-project-item div.item-info {
    background-color: white;
}

div.kt-detail-left {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    border-width: 0;
}

div.kt-detail-left h1 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 15px;
}

div.grid-sort-c div.kt-detail-bottom-right div.title {
    margin-bottom: 5px;
    margin-top: 20px;
}

div.grid-sort-c div.kt-detail-bottom-right div.title h4 {
    color: white;
}

div.grid-sort-c div.kt-detail-bottom-right div.title button {
    background-color: transparent;
    border-color: transparent;
}

div.grid-sort-c div.kt-detail-bottom-right div.title button span {
    color: white;
    font-size: 14px;
    line-height: 22px;
}

div.kt-detail-left div.view{
    margin-bottom: 15px;
}

div.kt-detail-left div.view b.bprovince{
    color: #238646;
    font-weight: 500;
    font-size: 12px;
}

div.kt-detail-left div.like {
    border-top: 2px solid #e8e8e88a;
    border-bottom: 2px solid #e8e8e88a;
}

div.kt-detail-left div.like div.share {
    position: inherit;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

div.kt-detail-left div.share a button{
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
    height: 46px;
    background-color: transparent;
}

/** SCREEN BOX MEDIA @ **/
@media only screen and (min-width: 861px) {

    div.kt-project-item {
        display: inline-block;
    }

    div.grid-sort div.grid-sort-b {
        max-width: 340px;
        position: absolute;
        left: 0;
    }

    div.grid-sort div.grid-sort-c,
    div.grid-sort div.grid-sort-d {
        margin-left: 340px;
    }
}

@media only screen and (max-width: 860px) {

    div.grid-sort-d div.kt-detail-bottom-left {
        border-bottom: 1px solid #ccc;
    }

    div.kt-project-item {
        display: inline-block;
    }

    div.grid-sort-d div.kt-detail-bottom-left {
        border-width: 0;
    }
}

@media only screen and (max-width: 768px) {
    div.box-image .item1,
    div.box-image .item2,
    div.box-image .item3,
    div.box-image .item4,
    div.box-image .item5,
    div.box-image .item6,
    div.box-image .item7,
    div.box-image .item8,
    div.box-image .item9 {
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 320px) {
    div.kt-project-item {
        max-width: 280px;
    }
}

/** END SCREEN BOX MEDIA @ **/