nav.main-menu div.float-left {
    padding: 10px 0;
}

nav.main-menu ul li a span {
    line-height: 60px;
}

nav.main-menu ul li.group-01,
nav.main-menu ul li.group-02,
nav.main-menu ul li.group-03,
nav.main-menu ul li.more {
    padding: 10px 0;
}

nav.main-menu ul li div.box-child{
    top: 61px;
}

div.container-center{
    padding: 0 45px 30px 45px;
    background-image: linear-gradient(to bottom, #f2f2f2 100px, white 0%);
}

div.container-center div.grid-sort{
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}