div.kt-main{
    background-image: none;
}

div.detail-ask-left {
    padding: 15px;
}

div.detail-ask-left ul.link {
}

div.detail-ask-left ul.link li {
    margin-right: 5px;
    color: #989898;
    font-size: 12px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
}

div.detail-ask-left ul.link li img {
    height: 30px;
    width: 30px;
    border-radius: 3px;
}

div.detail-ask-left ul.link li b {
    color: #248444;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
}

div.detail-ask-left h1 {
    margin: 0 0 10px 0;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

div.detail-ask-left div.save {
    position: relative;
}

div.detail-ask-left div.save button {
    position: absolute;
    top: -15px;
    right: 0;
    border-radius: 17.5px;
    background-color: #F3F3F3;
    color: #474747;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

div.detail-ask-left ul.option {
    margin-bottom: 15px;
}

div.detail-ask-left ul.option li {
    color: #474747;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    display: inline-block;
    margin-right: 15px;
}

div.detail-ask-left ul.option li i {
    opacity: 0.3;
}

div.detail-ask-left ul.option li b {
}

div.detail-ask-left div.full {
    color: #1B1B1B;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
}

div.detail-ask-left div.slide-image {
    display: grid;
    grid-template-columns: minmax(min-content, 25%) minmax(min-content, 25%) minmax(min-content, 25%) minmax(min-content, 25%);
    grid-gap: 10px;
    margin-bottom: 20px;
}

div.detail-ask-left div.slide-image div.item {

}

div.detail-ask-left div.slide-image div.item img {
}

div.detail-ask-left div.tag {
    margin-bottom: 20px;
}

div.detail-ask-left div.tag button {
    border-radius: 15px;
    background-color: #F3F3F3;
    color: #474747;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

div.detail-ask-left div.tag button i {
    opacity: 0.3;
}

div.detail-ask-right {
    padding: 15px;
}

div.detail-ask-right button.button-ask {
    border-radius: 3px;
    background-color: #248444;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

div.detail-ask-right div.h2 {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin: 0 0 15px 0;
}

div.detail-ask-right div.tag {
    margin-bottom: 30px;
}

div.detail-ask-right div.tag button {
    border-radius: 15px;
    background-color: #F3F3F3;
    color: #474747;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 5px;
}

div.detail-ask-right div.tag button b {
    font-weight: 500;
}

div.detail-ask-right div.tag button i {
    opacity: 0.3;
}

div.detail-ask-right div.tag button span {
    opacity: 0.5;
}

div.detail-ask-right div.register {
    min-height: 200px;
    margin-bottom: 30px;
    padding: 130px 20px 0 20px;
    background: red;
}

div.detail-ask-right div.register button {
    box-sizing: border-box;
    border: 1px solid #248444;
    border-radius: 3px;
    background-color: #FFFFFF;
    color: #248444;
    font-size: 16px;
    font-weight: bold;
    line-height: 42px;
    text-align: center;
    width: 100%;
}

div.detail-ask-right div.item-right {
    margin-bottom: 20px;
}

div.detail-ask-right div.item-right div.thumb {
    width: 70px;
    border-radius: 3px;
    overflow: hidden;
    float: left;
}

div.detail-ask-right div.item-right div.thumb img {
}

div.detail-ask-right div.item-right div.info {
    margin-left: 85px;
}

div.detail-ask-right div.item-right div.info h3 {
    color: #2D2D2D;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
}

div.detail-ask-right div.item-right div.info b {
    color: #2D2D2D;
    display: block;
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
    opacity: 0.7;
}