div.box-user {
    border: 1px solid #DADADA;
    border-radius: 5px;
    background-color: #FFFFFF;
}

div.box-user div.col-1{
    position: relative;
    padding: 15px;
}

div.box-user div.col-1 b.kt-icon-level{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    height: 22px;
    width: 22px;
    border: 1px solid #3F8944;
    background-color: #98D37E;
    display: block;
}

div.box-user div.avatar {
    margin-bottom: 5px;
    position: relative;
    display: inline-block;
}

div.box-user div.avatar img {
    height: 52px;
    width: 52px;
    opacity: 0.9;
    border-radius: 120px;
    overflow: hidden;
}

div.box-user div.avatar i{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    color: #7ED321;
    border: 2px solid white;
    background: white;
    border-radius: 250px;
    font-size: 8px;
}

div.box-user h2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin: 0 0 5px 0;
}

div.box-user h2 a {
    color: #248444;
}

div.box-user div.address {
    opacity: 0.5;
    color: #1B1B1B;
    font-size: 12px;
    line-height: 22px;
}

div.box-user div.review {
    font-size: 11px;
    color: #F5A623;
}

div.box-user ul {
    margin: 0;
}

div.box-user ul li {
    margin-top: 5px;
    clear: both;
}

div.box-user ul li i {
    display: inline-block;
    color: #474747;
    font-size: 12px;
    line-height: 14px;
}

div.box-user ul li span {
    display: inline-block;
    color: #474747;
    font-size: 12px;
    line-height: 14px;
}

div.box-user ul li b {
    display: inline-block;
    color: #1B1B1B;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    float: right;
}

div.box-user div.call-phone {
    text-align: center;
    margin-bottom: 10px;
}

div.box-user div.call-phone button {
    height: 34px;
    width: 34px;
    padding: 0;
    display: inline-block;
    line-height: 38px;
    border-width: 0;
    border-radius: 20px;
    margin-right: 3px;
    background-color: #F3F3F3;
}

div.box-user div.call-phone button i,
div.box-user div.call-phone button svg {
    opacity: 0.4;
}

div.box-user div.button button {
    border-radius: 17.5px;
    background-color: #F3F3F3;
    line-height: 34px;
    padding: 0 10px;
    color: #248444;
    font-size: 12px;
    font-weight: 500;
}

div#change-view.grid-container-5 div.box-user div.col-1 div.call-phone,
div#change-view.grid-container-5 div.box-user div.col-1 div.button,
div#change-view.grid-container-5 div.box-user div.col-2 {
    display: none;
}

div#change-view.grid-container-1 div.box-user {
    display: flex;
    flex-grow: 2;
    padding: 0;
}

div#change-view.grid-container-1 div.box-user div.col-1 {
    border-right: 1px solid #DADADA;
    text-align: center;
    min-width: 230px;
    width: 20%;
}

div#change-view.grid-container-1 div.box-user div.col-1 div.address,
div#change-view.grid-container-1 div.box-user div.col-1 div.review {
    clear: both;
    width: 100%;
    text-align: center;
}

div#change-view.grid-container-1 div.box-user div.col-1 ul.thong-ke {
    display: none;
}

div#change-view.grid-container-1 div.box-user div.col-1 div.call-phone,
div#change-view.grid-container-1 div.box-user div.col-1 div.button {
    display: inherit;
    margin-top: 5px;
}

div#change-view.grid-container-1 div.box-user div.col-2 {
    width: 80%;
    padding: 15px;
    min-width: 100px;
}

div.col-2 div.row-01 {
}

div.col-2 div.row-01.love-category {
    padding: 0 15px;
    margin-bottom: 15px;
}

div.col-2 div.row-01.love-category ul {
    margin-bottom: 0;
}

div.col-2 div.row-01.love-category ul li {
    display: inline-block;
    color: #1B1B1B;
    line-height: 34px;
    font-weight: 500;
    margin-top: 0;
    margin-right: 20px;
}

div.col-2 div.row-01.love-category ul li i {
    font-size: 16px;
}

div.col-2 div.row-01.love-category ul li span {
    font-size: 16px;
}

div.col-2 div.row-01.love-category button {
    padding: 9px 15px;
    border: 1px solid #D1D1D1;
    border-radius: 17.5px;
    background-color: #FFFFFF;
    color: #474747;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}

div.col-2 div.row-02 {
    display: grid;
    grid-template-columns: auto auto auto;
}

div.col-2 div.row-02 div.item-img {
    margin: 0 15px;
    position: relative;
}

div.col-2 div.row-02 div.item-img img {
    width: 100%;
}

div.col-2 div.row-02 div.item-img div.title-pro {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
    width: 100%;
    opacity: 0;
}

div.col-2 div.row-02 div.item-img div.title-pro h2 {
    margin: 15px 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
}

div.col-2 div.row-02 div.item-img div.title-pro h2 a {
    color: white;
}

div.col-2 div.row-02 div.item-img:hover div.title-pro {
    opacity: 1;
}