/**
phan thay doi category
 */
div.kt-head {
    background-image: none;
}

nav.kt-main-menu {
    padding: 9px 0;
}

nav.kt-main-menu div.kt-pull-left {
    padding-right: 0;
    width: 520px;
}

nav.kt-main-menu div.kt-pull-left div.kt-fr-search {
    width: 315px;
    padding-left: 35px;
}

nav.kt-main-menu div.kt-pull-left div.kt-fr-search input {
    width: 280px;
    padding-left: 32px;
}

nav.kt-main-menu div.kt-pull-left div.kt-fr-search button {
    right: inherit;
    left: 38px;
}

/**
end phan thay doi category
 */

div.kt-detail-bg-head {
    min-height: 66px;
    padding: 17px 30px 0 30px;
    background-color: #F2F2F2;
}

div.kt-detail-bg-head div.text-left {
}

div.kt-detail-bg-head div.text-left button span {
    color: #248444;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    display: inline-flex;
    vertical-align: text-bottom;
    line-height: 20px;
}

div.kt-detail-project {
    padding: 0 40px;
    background-image: linear-gradient(to bottom, #f2f2f2 100px, white 0%);
}

div.kt-detail-project div.grid-container-2-fix {
    border-radius: 4px;
    background-color: white;
}