div.grid-container-2-fix div.item-3 {
    border-right: 1px solid #E0E0E0;
}

div.kt-detail-left {
    padding: 20px 30px 50px 30px;
}

div.kt-detail-left h1 {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

div.kt-detail-left div.view {
}

div.kt-detail-left div.view ul {
    margin-bottom: 0;
}

div.kt-detail-left div.view ul li {
    display: inline-block;
}

div.kt-detail-left div.view ul li i {
}

div.kt-detail-left div.view ul li b {
    color: #474747;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    display: inline-flex;
    vertical-align: text-top;
    min-width: 20px;
    margin-right: 10px;
}

div.kt-detail-left div.like {
    position: relative;
}

div.kt-detail-left div.like div.share {
    position: absolute;
    bottom: 0;
    right: 0;
}

div.kt-detail-left div.share a {
}

div.kt-detail-left div.share a button {
    border-radius: 17.5px;
    background-color: #F3F3F3;
    padding: 6px 15px;
    border-width: 0;
    margin-left: 10px;
}

div.kt-detail-left div.share a button i {
}

div.kt-detail-left div.share a button span {
    display: inline-flex;
    vertical-align: text-bottom;
    color: #474747;
    font-size: 14px;
    font-weight: 500;
}

div.btn-group button.btn{
    border-radius: 1.25rem;
}

div.grid-container-2-fix div.grid-container-3-fix-2 {
    display: grid;
    grid-template-columns: minmax(min-content, auto) 320px;
    grid-gap: 0;
}

div.grid-container-2-fix div.grid-container-3-fix-2 div.item-2 {
    /*grid-column: 1 / span 2;
    grid-row: 1;*/
    border-right: 1px solid #E0E0E0;
}

div.grid-container-3-fix-2 div.kt-detail-bottom-left {
    padding: 0 30px 0 30px;
}

div.grid-container-3-fix-2 div.kt-detail-bottom-right {
    padding: 0 20px 0 20px;
}

div.grid-container-3-fix-2 div.kt-detail-bottom-right div.title {
    margin-bottom: 20px;
}

div.grid-container-3-fix-2 div.kt-detail-bottom-right div.title h4 {
    color: #1B1B1B;
    font-size: 16px;
    font-weight: 600;
    line-height: 34px;
    margin: 0;
}

div.grid-container-3-fix-2 div.kt-detail-bottom-right div.title button {
    border: 1px solid #D1D1D1;
    border-radius: 17.5px;
    background-color: #FFFFFF;
    padding: 6px 7px;
}

div.grid-container-3-fix-2 div.kt-detail-bottom-right div.title button i {
    width: 23px;
    height: 23px;
}

div.grid-container-3-fix-2 div.kt-detail-bottom-right div.title button span {
    color: #474747;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    display: inline-flex;
    vertical-align: text-bottom;
    margin: 0 5px 0 9px;
}

div.box-image {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 -5px 15px -5px;
}

div.box-image.break {
    display: block;
}

div.box-image > div {
    padding: 5px;
}

div.box-image.break > div {
    width: 100%;
}

div.box-image > div > div.item-image {
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 4px;
    position: relative;
}

div.box-image > div > div.text {
    display: none;
}

div.box-image.break > div > div.text {
    display: block;
    padding: 15px;
    background-color: grey;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
}

div.box-image > div > div.item-image div.kt-flex-container {
    top: 10px;
    right: 10px;
    flex-direction: column;
}

div.box-image > div > div.item-image div.kt-flex-container.hover {
    opacity: 0;
}

div.box-image > div > div.item-image:hover div.kt-flex-container.hover {
    opacity: 1;
}

div.item-image div.kt-flex-container button {
    height: 24px;
    width: 24px;
    border-radius: 17.5px;
    background-color: #00000059;
    padding: 0;
    border-width: 0;
    display: inline-flex;
    margin-bottom: 4px;
}

div.box-image div img {
    width: 100%;
    opacity: 0;
}

div.box-image .item1 {
    width: 60%;
    float: left;
}

div.box-image .item2 {
    width: 40%;
    float: left;
}

div.box-image .item3 {
    width: 40%;
    float: left;
}

div.box-image .item4 {
    width: 60%;
    float: left;
}

div.box-image .item5 {
    width: 25%;
    float: left;
}

div.box-image .item6 {
    width: 25%;
    float: left;
}

div.box-image .item7 {
    width: 25%;
    float: left;
}

div.box-image .item8 {
    width: 25%;
    float: left;
}

div.box-image .item9 {
    width: 100%;
    float: left;
}

div.kt-detail-right {
    padding: 20px;
    height: 100%;
    position: relative;
}

div.kt-detail-right div.kt-user-info {
}

div.kt-detail-right div.kt-user-info div.avatar {
    height: 90px;
    width: 90px;
    border-radius: 120px;
    display: inline-block;
    float: left;
}

div.kt-detail-right div.kt-user-info div.avatar img {
    border-radius: 120px;
}

div.kt-detail-right div.kt-user-info div.fullname {
    margin-left: 110px;
    padding-top: 10px;
}

div.kt-detail-right div.kt-user-info div.fullname span {
    color: #474747;
    display: block;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
}

div.kt-detail-right div.kt-user-info div.fullname b {
    color: #1B1B1B;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    display: block;
    margin-bottom: 2px;
}

div.kt-detail-right div.kt-user-info div.fullname .star {
}

div.kt-detail-right div.kt-user-info div.fullname .star i {
    font-size: 10px;
    color: #F5A623;
    margin-right: -2px;
}

div.kt-detail-right div.kt-user-info div.fullname p {
    opacity: 0.5;
    color: #1B1B1B;
    font-size: 12px;
    line-height: 22px;
    display: block;
    margin-bottom: 0;
}

div.kt-detail-right div.kt-user-info div.fullname p i {
}

div.kt-detail-right div.kt-user-follow {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #e8e8e88a;
    padding: 15px 0;
    border-radius: 6px;
    margin-bottom: 5px;
}

div.kt-detail-right div.kt-user-follow div.left {
}

div.kt-detail-right div.kt-user-follow div.left button {
    border-radius: 17.5px;
    padding: 5px 15px;
    border-width: 0;
    margin-left: 10px;
    background-color: #248444;
}

div.kt-detail-right div.kt-user-follow div.left button span {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 24px;
    display: inline-flex;
    vertical-align: bottom;
    font-weight: 300;
    margin: 0 5px;
}

div.kt-detail-right div.kt-user-follow div.right {
}

div.kt-detail-right div.kt-user-follow div.right button {
    height: 34px;
    width: 34px;
    border-radius: 17.5px;
    background-color: #F3F3F3;
    padding: 0;
    display: inline-flex;
    position: relative;
    overflow: initial;
}

div.kt-detail-right div.kt-user-follow div.right button b {
    position: absolute;
    top: -3px;
    right: -2px;
    z-index: 1;
    color: #7ED321;
    border: 2px solid white;
    background: white;
    border-radius: 250px;
    font-size: 8px;
}

div.kt-detail-right div.kt-user-follow div.right button i {
    opacity: 0.6;
}

div.kt-detail-right h2.name-box {
    margin-bottom: 5px;
}

div.kt-detail-right h2.name-box b {
    color: #2D2D2D;
    font-size: 16px;
    font-weight: 700;
    line-height: 34px;
    display: inline-block;
    vertical-align: text-top;
}

div.kt-detail-right h2.name-box button {
    color: #248444;
    padding: 0;
    background-color: transparent;
    border-width: 0;
    font-size: 12px;
    line-height: 34px;
}

div.kt-detail-right div.group-design {
    margin-bottom: 25px;
}

div.kt-detail-right div.group-design ul {
    margin-bottom: 0;
}

div.kt-detail-right div.group-design ul li {
}

div.kt-detail-right div.group-design ul li div.box-row-customer {
    margin-bottom: 13px;
}

div.kt-detail-right div.group-design ul li div.box-row-customer img {
    height: 32px;
    width: 32px;
    border-radius: 120px;
    float: left;
}

div.kt-detail-right div.group-design ul li div.box-row-customer div.name {
    margin-left: 42px;
}

div.kt-detail-right div.group-design ul li div.box-row-customer div.name b {
    color: #1B1B1B;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    display: block;
    opacity: 0.3;
}

div.kt-detail-right div.group-design ul li div.box-row-customer div.name span {
    color: #474747;
    font-size: 12px;
    line-height: 16px;
    display: block;
    opacity: 0.3;
}

div.kt-detail-right div.group-design ul li div.box-row-customer.first div.name b,
div.kt-detail-right div.group-design ul li div.box-row-customer.first div.name span {
    opacity: 1;
}

div.kt-detail-right div.group-design ul li ul {
    position: relative;
}

div.kt-detail-right div.group-design ul li ul:before {
    position: absolute;
    top: -5px;
    left: 16px;
    width: 10px;
    height: 84%;
    border-left: 1px solid #E0E0E0;
    content: '';
}

div.kt-detail-right div.group-design ul li ul li {
    margin-left: 42px;
    position: relative;
}

div.kt-detail-right div.group-design ul li ul li:before {
    position: absolute;
    top: -2px;
    left: -26px;
    width: 20px;
    height: 20px;
    border-left: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    content: '';
}

div.kt-detail-right div.group-design ul li ul li:last-child:before {
    border-bottom-left-radius: 5px;
}

div.kt-detail-right div.detail {
    color: #474747;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
}

div.kt-detail-right div.extend {
    margin-bottom: 18px;
}

div.kt-detail-right div.extend ul {
    margin-bottom: 0;
}

div.kt-detail-right div.extend ul li {
    margin-bottom: 10px;
}

div.kt-detail-right div.extend i {
    width: 15px;
}

div.kt-detail-right div.extend span {
    display: inline-flex;
    margin-left: 5px;
    vertical-align: top;
}

div.kt-detail-right div.extend b {
    display: inline-flex;
    font-weight: 500;
    margin-left: 20px;
    position: relative;
}

div.kt-detail-right div.extend b:before {
    position: absolute;
    top: 0;
    left: -20px;
    content: ':';
    width: 5px;
    height: 18px;
}

/**
phan % vong tron
 */
.progress-pie-chart {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
    margin: 0 auto 0;
}

.progress-pie-chart.gt-50 {
    background-color: #81CE97;
}

.ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    width: 80px;
    height: 80px;
    clip: rect(0, 80px, 80px, 40px);
}

.gt-50 .ppc-progress {
    clip: rect(0, 40px, 80px, 0);
}

.ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    width: 80px;
    height: 80px;
    clip: rect(0, 40px, 80px, 0);
    background: #81CE97;
    transform: rotate(60deg);
    /*animation: all ease-in-out 3s;*/
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 80px, 80px, 40px);
    background: #E5E5E5;
}

.ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 69.6px / 2);
    top: calc(50% - 69.6px / 2);
    width: 69.6px;
    height: 69.6px;
    background: #fff;
    text-align: center;
    display: table;
}

.ppc-percents span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #81CE97;
}

/** phan size 42px **/
.progress-pie-chart.size-42 {
    width: 42px;
    height: 42px;
}

.size-42 .ppc-progress {
    left: calc(50% - 21px);
    top: calc(50% - 21px);
    width: 42px;
    height: 42px;
    clip: rect(0, 42px, 42px, 21px);
}

.size-42.gt-50 .ppc-progress {
    clip: rect(0, 21px, 42px, 0);
}

.size-42 .ppc-progress .ppc-progress-fill {
    left: calc(50% - 21px);
    top: calc(50% - 21px);
    width: 42px;
    height: 42px;
    clip: rect(0, 21px, 42px, 0);
}

.size-42.gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 42px, 42px, 21px);
    background: #E5E5E5;
}

.size-42 .ppc-percents {
    left: 2px;
    top: 2px;
    width: 38px;
    height: 38px;
}

.size-42 .ppc-percents span {
    color: #474747;
    font-size: 14px;
    font-weight: 900;
}

/** end phan size 42px **/

/** phan khong trung **/
.pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.progress-pie-chart.mau-xanh {
    background-color: #3CB765 !important;
}

.progress-pie-chart.mau-vang {
    background-color: #FFB03E !important;
}

.progress-pie-chart.mau-do .ppc-progress .ppc-progress-fill {
    background-color: #b71a00 !important;
}

/**
end phan % vong tron
 */

div.kt-detail-right div.review {
    margin: 8px 0 24px 0;
}

div.kt-detail-right div.review ul {
    margin-bottom: 0;
}

div.kt-detail-right div.review li {
    margin-bottom: 12px;
}

div.kt-detail-right div.review li div.percent {
    height: 42px;
    width: 42px;
    float: left;
}

div.kt-detail-right div.review li div.info {
    margin-left: 50px;
    min-height: 42px;
}

div.kt-detail-right div.review li div.info b {
    font-size: 12px;
    color: #F5A623;
    line-height: 20px;
    display: block;
}

div.kt-detail-right div.review li div.info b i {
    margin-right: -2px;
}

div.kt-detail-right div.review li div.info span {
    color: #248444;
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

div.kt-detail-right div.keywords {
    margin: 10px 0 24px 0;
}

div.kt-detail-right div.keywords button {
    border-radius: 15px;
    background-color: #F3F3F3;
    padding: 5px 15px;
    border-width: 0;
    margin-bottom: 5px;
}

div.kt-detail-right div.keywords button i {
    opacity: 0.3;
}

div.kt-detail-right div.keywords button span {
    color: #474747;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}

div.kt-detail-right div.social {
    margin-top: 8px;
}

div.kt-detail-right div.social button {
    border-width: 0;
    border-radius: 220px;
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    padding: 0;
}

div.kt-detail-right div.social button.sface {
    background-color: #4267b2;
}

div.kt-detail-right div.social button.sgoogle {
    background-color: #f50f25;
}

div.kt-detail-right div.social button.stwitter {
    background-color: #08a0e9;
}

div.kt-detail-right div.social button.srss {
    background-color: orange;
}

div.kt-detail-right div.social button i {
    color: white;
    line-height: 24px;
    font-size: 12px;
}

button.but-report {
    opacity: 0.5;
    color: #1B1B1B;
    font-size: 12px;
    line-height: 22px;
}
