/**
phan thay doi category
 */
div.kt-head {
    background-image: none;
}

nav.kt-main-menu {
    padding: 9px 0;
}

nav.kt-main-menu div.kt-pull-left {
    padding-right: 0;
    width: 520px;
}

nav.kt-main-menu div.kt-pull-left div.kt-fr-search {
    width: 315px;
    padding-left: 35px;
}

nav.kt-main-menu div.kt-pull-left div.kt-fr-search input {
    width: 280px;
    padding-left: 32px;
}

nav.kt-main-menu div.kt-pull-left div.kt-fr-search button {
    right: inherit;
    left: 38px;
}

/**
end phan thay doi category
 */

div.bg-search {
    position: relative;
    min-height: 310px;
}

div.bg-search:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: url(../images/bg-tim-kts.jpg);
    z-index: 1;
}

div.bg-search:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #000000a1;
    z-index: 2;
}

div.bg-search div.box-form {
    position: relative;
    z-index: 3;
    padding-left: 155px;
    padding-top: 77px;
    padding-right: 155px;
}

div.bg-search div.box-form h2 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 25px;
}

div.bg-search div.box-form div.grid-search-5 {
    display: grid;
    grid-template-columns: minmax(min-content, 20%) minmax(min-content, 20%) minmax(min-content, 20%) minmax(min-content, 20%) 170px;
}

div.grid-search-5 div.td div.height-50px {
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

div.grid-search-5 div.td p {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    font-weight: 300;
}

div.grid-search-5 div.td button.submitBut.hover {
    background-color: #248444;
    border-color: transparent;
}

div.grid-search-5 div.td button.submitBut.hover span {
    color: white;
    margin-left: 0;
    opacity: 1;
}

div.grid-container-5 .select2-container--bootstrap .select2-selection--single .select2-selection__arrow i {
    top: 40%;
    position: absolute;
}

div.grid-container-5 div.td button {
    display: inline-flex;
    height: 34px;
    border-width: 0;
}

div.grid-auto-440px {}

div.grid-auto-440px div.imaps {
    box-sizing: border-box;
    height: 642px;
    width: 100%;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

div.grid-auto-440px ul.list-kts {
}

div.grid-auto-440px ul.list-kts li {
    border-radius: 5px;
}

div.grid-auto-440px ul.list-kts li.active {
    background-color: #EEF7F1;
}

ul.list-kts li div.avatar {
    height: 52px;
    width: 52px;
    opacity: 0.9;
    position: relative;
    border-radius: 240px;
}

ul.list-kts li div.avatar img {
    border-radius: 240px;
}

ul.list-kts li div.avatar i {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    color: #7ED321;
    border: 2px solid white;
    background: white;
    border-radius: 250px;
    font-size: 8px;
}

ul.list-kts li div.info {
    padding-top: 10px;
}

ul.list-kts li div.info b {
    color: #248444;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

ul.list-kts li div.info p {
    opacity: 0.5;
    color: #1B1B1B;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 0;
}

ul.list-kts li div.info p span {
    display: inline-flex;
    vertical-align: text-bottom;
    line-height: 18px;
}

ul.list-kts li div.star {
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

ul.list-kts li div.star i {
    color: #F5A623;
    font-size: 10px;
    margin-left: 2px;
}

ul.list-kts li div.contact button{
    display: inline-flex;
    background: red;
    border-radius: 240px;
    padding: 0;
    height: 34px;
    width: 34px;
}

ul.list-kts li div.quan-tam {
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

ul.list-kts li div.quan-tam button {
    border-radius: 17.5px;
    background-color: #248444;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    height: 34px;
    border-width: 0;
    padding: 0 15px;
}

ul.list-kts li div.quan-tam button span {
    display: inline-flex;
    vertical-align: text-bottom;
    line-height: 20px;
    margin-left: 5px;
}

ul.list-kts li div.box-right-project {
    display: block;
    padding: 15px;
}

ul.list-kts li div.box-right-project .follow {
    margin: 0;
}

ul.list-kts li div.box-right-project .follow li {
    display: inline-block;
}

ul.list-kts li div.box-right-project .follow li i {
}

ul.list-kts li div.box-right-project .follow li span {
    color: #1B1B1B;
    font-weight: 600;
    line-height: 18px;
    font-size: 12px;
}

ul.list-kts li div.box-right-project .target {
    border: 1px solid #D1D1D1;
    border-radius: 17.5px;
    background-color: #FFFFFF;
    padding: 3px 4px 3px 10px;
}

ul.list-kts li div.box-right-project .target span {
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    display: inline-flex;
    margin-right: 5px;
    color: #474747;
}

ul.list-kts li div.box-right-project .target i {
    height: 24px;
    width: 24px;
    padding-left: 3px;
}

ul.list-kts li div.grid-50{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
}

ul.list-kts li div.item-kts {
    position: relative;
}

ul.list-kts li div.item-kts div.title {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-right: 40px;
}

ul.list-kts li div.item-kts div.title b {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
    display: block;
    padding: 15px 0;
}

ul.list-kts li div.item-kts:hover div.title {
    opacity: 1;
}

/**
phan giao dien moi
 */
div.grid-auto-440px.one{
    display: grid;
    grid-template-columns: auto 440px;
    grid-gap: 20px;
}
div.grid-auto-440px.one ul.list-kts div.part-left{
    padding: 10px 15px;
    display: grid;
    grid-template-columns: 52px auto 70px 105px;
    grid-gap: 10px;
}
div.grid-auto-440px.one ul.list-kts div.part-left div.contact,
div.grid-auto-440px.one ul.list-kts div.part-right{
    display: none;
}

div.grid-auto-440px.two{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0;
    max-width: 100%;
}

div.grid-auto-440px.two ul.list-kts li{
    display: grid;
    grid-template-columns: 190px minmax(min-content, auto);
    grid-gap: 0
}
div.grid-auto-440px.two ul.list-kts li div.box-right-project{
    display: block;
    max-width: 100%;
    min-width: 330px;
    padding: 0;
}

div.grid-auto-440px.two ul.list-kts div.part-left{}

div.grid-auto-440px.two div.td:first-child,
div.grid-auto-440px.two ul.list-kts div.part-left div.contact{
    display: none;
}