/**
menu cua index
 */
div.kt-head {
    background-image: linear-gradient(to right, #e6f1f9 480px, white 18%);
}

nav.kt-main-menu {
    padding: 15px 0;
}

nav.kt-main-menu div.kt-pull-left {
    width: 480px;
    padding-right: 30px;
}

nav.kt-main-menu div.kt-pull-left div.kt-fr-search {
    width: 250px;
    padding-left: 10px;
}

nav.kt-main-menu div.kt-pull-left div.kt-fr-search input {
    width: 240px;
    padding-left: 13px;
}

nav.kt-main-menu div.kt-pull-left div.kt-fr-search button {
    right: 0;
}

/**
end menu cua index
 */
div.kt-index-left {
}

div.kt-index-left div.kt-index-left-box {
    padding: 0 38px 0 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 71px;
    background-size: 480px auto;
    background-repeat: no-repeat;
    min-height: 720px;
    background-position: 0 190px;
}

div.kt-index-left div.kt-index-left-box h1 {
    color: #1B1B1B;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    margin: 0 0 12px 0;
}

div.kt-index-left div.kt-index-left-box div.kt-index-text {
    color: #1B1B1B;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 17px;
}

div.kt-index-left div.kt-index-left-box div.kt-index-slogan {
    margin-bottom: 25px;
}

div.kt-index-left div.kt-index-left-box ul {
}

div.kt-index-left div.kt-index-left-box ul li {
    float: left;
    width: 43%;
    margin-bottom: 15px;
    position: relative;
    padding-left: 20px;
}

div.kt-index-left div.kt-index-left-box ul li:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    height: 37px;
    width: 2px;
    background-color: #248444;
    z-index: 1;
}

div.kt-index-left div.kt-index-left-box ul li b {
    display: block;
    color: #248444;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}

div.kt-index-left div.kt-index-left-box ul li span {
    color: #1B1B1B;
    font-size: 14px;
    line-height: 16px;
}

button.kt-index-default {
    height: 55px;
    width: 210px;
    border-radius: 3px;
    background-color: #248444;
    color: white;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
}

div.kt-index-right {
    background: white;
}

div.kt-index-scroll-right {
    max-width: 100%;
    margin-left: 30px;
}

div.kt-index-scroll-right div.scroll-box {
    max-width: 100%;
}

div.kt-index-scroll-right div.scroll-box div.item-kts {
    display: inline-block;
    border: 1px solid #D1D1D1;
    border-radius: 30px;
    padding: 5px;
    margin-right: 10px;
}

div.kt-index-scroll-right div.scroll-box div.item-kts div.avatar {
    display: inline-block;
    float: left;
    position: relative;
}

div.kt-index-scroll-right div.scroll-box div.item-kts div.avatar i {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    color: #7ED321;
    border: 2px solid white;
    background: white;
    border-radius: 250px;
    font-size: 8px;
}

div.kt-index-scroll-right div.scroll-box div.item-kts div.avatar div.bg {
    border-radius: 30px;
    overflow: hidden;
    background: red;
}

div.kt-index-scroll-right div.scroll-box div.item-kts div.avatar div.bg img {
    height: 50px;
    width: 50px;
}

div.kt-index-scroll-right div.scroll-box div.item-kts div.fullname {
    margin-left: 58px;
    padding: 9px 5px 5px 0;
}

div.kt-index-scroll-right div.scroll-box div.item-kts div.fullname b {
    display: block;
    width: 120px;
    color: #248444;
    font-weight: 500;
    line-height: 16px;
}

div.kt-index-scroll-right div.scroll-box div.item-kts div.fullname span {
    display: inline-block;
    opacity: 0.5;
    color: #1B1B1B;
    font-size: 12px;
    line-height: 18px;
    vertical-align: text-bottom;
}

div.kt-category-item {
}

div.kt-category-item div.item-image {
    margin-bottom: 15px;
    border-radius: 5px;
    overflow: hidden;
}

div.kt-category-item div.item-image img {
    width: 100%;
}

div.kt-category-item div.item-info {
    text-align: center;
}

div.kt-category-item div.item-info h3 {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
}

div.kt-category-item div.item-info h3 a {
    color: #1B1B1B;
    font-weight: 900;
}

div.kt-category-item div.item-info h4 {
    color: #1B1B1B;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
}

div.kt-category-item div.item-info h4 b {
    font-weight: 900;
}

div.kt-category-item div.item-info h4 span {
}

div.kt-news-item {
    margin-bottom: 30px;
}

div.kt-news-item div.item-image {
    margin-bottom: 15px;
    border-radius: 5px;
    overflow: hidden;
}

div.kt-news-item div.item-image img {
    width: 100%;
}

div.kt-news-item div.item-tag {
}

div.kt-news-item div.item-tag button {
    padding: 0 5px;
    border-radius: 3px;
    background-color: #EEF7F1;
    border: 0;
}

div.kt-news-item div.item-tag button span {
    opacity: 0.76;
    color: #248444;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
}

div.kt-news-item h3 {
    height: 44px;
    font-size: 14px;
    line-height: 22px;
    margin: 5px 0 9px 0;
}

div.kt-news-item h3 a {
    color: #1B1B1B;
    font-weight: 900;
}

div.kt-news-item div.item-info {
    height: 66px;
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
}

div.kt-news-item div.item-info a {
    color: #1B1B1B;
    font-weight: 500;
}

.owl-carousel .owl-stage-outer {
    max-width: 100%;
}

/*load 3 dot loop*/
.loader-ellips {
    font-size: 20px; /* change size here */
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
}

.loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #555; /* change color here */
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
    left: 0;
}

.loader-ellips__dot:nth-child(3) {
    left: 1.5em;
}

.loader-ellips__dot:nth-child(4) {
    left: 3em;
}

@keyframes reveal {
    from {
        transform: scale(0.001);
    }
    to {
        transform: scale(1);
    }
}

@keyframes slide {
    to {
        transform: translateX(1.5em)
    }
}

.loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
    animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
}

