html, body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:focus {
    outline: none;
}

.transition {
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.absolute {
    position: absolute;
    z-index: 1;
}

a:link, a:active, a:hover, a:visited, a:focus {
    color: #474747;
    text-decoration: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus,
input, textarea, select, button {
    outline: none !important;
    box-shadow: none !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.padding-right-0px,
.row .padding-right-0px,
.kt-row .padding-right-0px {
    padding-right: 0 !important;
}

.padding-left-0px,
.row .padding-left-0px,
.kt-row .padding-left-0px {
    padding-left: 0 !important;
}

div.slimScrollDiv {
    min-width: 20px;
}

.tooltip {
    min-width: 80px;
}

.font-12px {
    font-size: 12px !important;
}

/**
add arrow box for dropdown
 */
/* caret style */
.dropdown .dropdown-toggle::after {
    display: none;
    visibility: hidden;
}

.dropdown.show .dropdown-toggle::after {
    display: block;
    visibility: inherit;
}

.dropdown.show button[data-toggle="dropdown"] {
    overflow: inherit;
}

.dropdown-menu.show {
    margin-top: 7px;
}

.arrowUp {
    position: relative;
    border-width: 0;
}

/* dropdown style */

.dropdown.show .arrowUp:before,
.dropdown.show .arrowUp:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-width: 7px 8px;
    border-style: solid;
    border-color: transparent;
    z-index: 1001;
}

.dropdown.show .arrowUp:before {
    bottom: -8px;
    right: 8px;
    border-bottom-color: #ccc;
}

.dropdown.show .arrowUp:after {
    bottom: -9px;
    right: 8px;
    border-bottom-color: #fff;
}

/* navbar style */
.navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.navbar-nav > .show > a .arrowUp:before {
    bottom: -23px;
}

.navbar-nav > .show > a .arrowUp:after {
    bottom: -24px;
}

.dropdown.show .dropdown-menu {
    min-width: 100px;
}

.dropdown.show .dropdown-menu .dropdown-item {
    padding: 3px 15px;
}

/**
end add arrow box for dropdown
 */

/**
cau hinh modal middle
 */
.modal-body {
    padding: 0;
}

.modal-cus-1360 {
    min-width: 1360px;
}

.modal-content {
    border-radius: 6px;
    overflow: hidden;
}

.modal-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #f1f1f1;
}

.modal-header label {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/**
end modal middle
 */

/**
phan input text hieu ung
 */
form a,
form a:active,
form a:link,
form a:hover,
form a:visited {
    color: #248444;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

form button.btn-link,
form button.btn-link:hover {
    color: #248444;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

form div.form-group.effect {
    position: relative;
}

form div.form-group.effect label {
    font-size: 14px;
    left: 15px;
    position: absolute;
    margin: 0;
    line-height: 22px;
    font-weight: 400;
    top: 14px;
    color: #1B1B1B;
    font-family: 'Barlow', sans-serif;
    /*z-index: 1;*/
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}

form div.form-group.effect input {
    height: 50px;
    padding: 12px 15px;
    font-size: 14px;
    position: relative;
    background-color: transparent;
}

form div.form-group.effect input.form-control:focus {
    border-color: #ced4da;
}

form div.form-group.effect small {
    display: block;
    text-align: right;
    font-size: 12px;
}

form div.form-group.no-effect {
    position: relative;
}

form div.form-group.no-effect label {
    color: #1B1B1B;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 10px;
    display: inline-flex;
}

form div.form-group.no-effect input {
    height: 50px;
    padding: 12px 15px;
    border-color: #ced4da;
}

form div.form-group.no-effect input.form-control:focus {
    border-color: #ced4da;
}

form div.input-group.no-scale {
    border: 1px solid #ced4da;
    border-radius: 4px;
}

form div.input-group.no-scale div.input-group-prepend {
}

form div.input-group.no-scale div.input-group-prepend span {
    border-width: 0;
    background-color: transparent;
    padding-left: 15px;
    padding-right: 10px;
}

form div.input-group.no-scale input {
    height: 48px;
    padding: 12px 15px 12px 0;
    font-size: 14px;
    position: relative;
    background-color: transparent;
    border-color: transparent;
}

form div.form-group.no-scale input.form-control:focus {
    border-color: transparent;
}

form div.textarea-html {
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    padding: 12px 15px;
}

div.height-50px {
    border: 1px solid #D1D1D1;
    padding: 8px 0;
    border-radius: 4px;
    height: 50px;
    background-color: white;
}

div.height-50px input,
div.height-50px input:focus {
    border-color: transparent;
}

div.height-50px div.input-group-append span {
    border-color: transparent;
    background-color: transparent;
}

div.height-50px .select2-container--bootstrap .select2-selection--single {
    border-width: 0 !important;
    box-shadow: none !important;
    height: inherit;
    padding-right: 31px !important;
    min-width: 110px;
    border-radius: 3px !important;
}

div.height-50px .select2-container--bootstrap .select2-selection--single .select2-selection__arrow {
    opacity: 1;
}

div.height-50px .select2-container--bootstrap .select2-selection--single .select2-selection__arrow i {
    right: 0;
    top: 40%;
    line-height: 34px;
    position: absolute;
}

div.height-50px .select2-container--bootstrap .select2-selection--single .select2-selection__placeholder {
    font-size: 14px;
    opacity: 0.7;
    color: #1B1B1B;
    font-weight: 500;
}

div.height-50px .select2-container .select2-selection--single .select2-selection__rendered {
    overflow: inherit;
}

div.height-50px .select2-container--bootstrap .select2-selection--single .select2-selection__rendered i.icon-avatar,
div.height-50px .select2-container--bootstrap .select2-selection--single .select2-selection__placeholder i.icon-avatar {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    height: 32px;
    width: 32px;
    border-radius: 120px;
    background-color: #D8D8D8;
    margin-top: -5px;
    z-index: 9999999;
    position: absolute;
}

div.height-50px .select2-container--bootstrap .select2-selection--single .select2-selection__rendered i.icon-avatar svg,
div.height-50px .select2-container--bootstrap .select2-selection--single .select2-selection__placeholder i.icon-avatar svg {
    margin: 0 auto;
}

div.height-50px .select2-container--bootstrap .select2-selection--single .select2-selection__rendered i.icon-avatar span,
div.height-50px .select2-container--bootstrap .select2-selection--single .select2-selection__placeholder i.icon-avatar span {
    background-size: 100% auto;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 120px;
}

div.height-50px .select2-container--bootstrap .select2-selection--single .select2-selection__placeholder b.name-avatar {
    margin-left: 40px;
    font-weight: 100;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

div.height-34px {
    border: 1px solid #D1D1D1;
    padding: 0 0;
    border-radius: 4px;
    height: 34px;
    background-color: white;
    white-space: nowrap;
}

div.height-34px b.inline {
    line-height: 34px;
    display: inline-flex;
    color: #474747;
    margin-left: 13px;
    font-weight: 400;
}

div.height-34px div.inline {
    display: inline-flex;
    margin-left: 0;
}

div.height-34px .select2-container {
    display: inline-flex !important;
}

div.height-34px input,
div.height-34px input:focus {
    border-color: transparent;
}

div.height-34px div.input-group-append span {
    border-color: transparent;
    background-color: transparent;
}

div.height-34px .select2-container--bootstrap .select2-selection--single {
    border-width: 0 !important;
    box-shadow: none !important;
    height: inherit;
    padding-right: 31px !important;
    min-width: 110px;
    border-radius: 3px !important;
}

div.height-34px .select2-container--bootstrap .select2-selection--single .select2-selection__arrow {
    opacity: 1;
}

div.height-34px .select2-container--bootstrap .select2-selection--single .select2-selection__arrow i {
    right: 0;
    top: 40%;
    line-height: 34px;
    position: absolute;
}

div.height-34px .select2-container--bootstrap .select2-selection--single .select2-selection__placeholder {
    font-size: 14px;
    opacity: 0.7;
    color: #1B1B1B;
    font-weight: 500;
}

div.height-34px .select2-container .select2-selection--single .select2-selection__rendered {
    overflow: inherit;
}

div.height-34px .select2-container--bootstrap .select2-selection--single .select2-selection__rendered i.icon-avatar,
div.height-34px .select2-container--bootstrap .select2-selection--single .select2-selection__placeholder i.icon-avatar {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    height: 32px;
    width: 32px;
    border-radius: 120px;
    background-color: #D8D8D8;
    margin-top: -5px;
    z-index: 9999999;
    position: absolute;
}

div.height-34px .select2-container--bootstrap .select2-selection--single .select2-selection__rendered i.icon-avatar svg,
div.height-34px .select2-container--bootstrap .select2-selection--single .select2-selection__placeholder i.icon-avatar svg {
    margin: 0 auto;
}

div.height-34px .select2-container--bootstrap .select2-selection--single .select2-selection__rendered i.icon-avatar span,
div.height-34px .select2-container--bootstrap .select2-selection--single .select2-selection__placeholder i.icon-avatar span {
    background-size: 100% auto;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 120px;
}

div.height-34px .select2-container--bootstrap .select2-selection--single .select2-selection__placeholder b.name-avatar {
    margin-left: 40px;
    font-weight: 100;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered img.img-avatar {
    position: absolute;
    top: 2px;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered b.name-avatar {
    margin-left: 40px;
    font-weight: 100;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.select2-container--bootstrap .select2-dropdown {
    border-color: transparent !important;
}

/**
end phan input text hieu ung
 */

/**
css icon kt
 */
.kt-icon {
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0 !important;
    margin-top: 0;
}

.kt-icon.middle {
    vertical-align: middle;
}

.kt-icon.text-top {
    vertical-align: text-top;
}

.bo-tron {
    background-color: #EEF7F1;
    border-radius: 100px;
}

.green svg {
    fill: #248444;
}

.grey svg {
    fill: #474747;
}

.black svg {
    fill: #000000;
}

.white svg {
    fill: white;
}

.red svg {
    fill: #F33249;
}

.size-5x10 svg {
    width: 6px;
    height: 10px;
}

.size-6x10 svg {
    width: 6px;
    height: 10px;
}

.size-8x10 svg {
    width: 8px;
    height: 10px;
}

.size-8x14 svg {
    width: 8px;
    height: 14px;
}

.size-9x9 svg {
    width: 9px;
    height: 9px;
}

.size-9x10 svg {
    width: 9px;
    height: 10px;
}

.size-10x6 svg {
    width: 10px;
    height: 6px;
}

.size-10x10 svg {
    width: 10px;
    height: 10px;
}

.size-10x12 svg {
    width: 10px;
    height: 12px;
}

.size-11x11 svg {
    width: 11px;
    height: 11px;
}

.size-11x14 svg {
    width: 11px;
    height: 14px;
}

.size-11x24 svg {
    width: 11px;
    height: 24px;
}

.size-12x8 svg {
    width: 12px;
    height: 8px;
}

.size-13x12 svg {
    width: 13px;
    height: 12px;
}

.size-13x13 svg {
    width: 13px;
    height: 13px;
}

.size-13x14 svg {
    width: 13px;
    height: 14px;
}

.size-14x11 svg {
    width: 14px;
    height: 11px;
}

.size-14x12 svg {
    width: 14px;
    height: 12px;
}

.size-14x14 svg {
    width: 14px;
    height: 14px;
}

.size-15x9 svg {
    width: 15px;
    height: 9px;
}

.size-15x11 svg {
    width: 15px;
    height: 11px;
}

.size-15x12 svg {
    width: 15px;
    height: 12px;
}

.size-15x13 svg {
    width: 15px;
    height: 13px;
}

.size-15x14 svg {
    width: 15px;
    height: 14px;
}

.size-15x15 svg {
    width: 15px;
    height: 15px;
}

.size-16x11 svg {
    width: 16px;
    height: 11px;
}

.size-16x13 svg {
    width: 16px;
    height: 13px;
}

.size-16x14 svg {
    width: 16px;
    height: 14px;
}

.size-16x15 svg {
    width: 16px;
    height: 15px;
}

.size-16x16 svg {
    width: 16px;
    height: 16px;
}

.size-17x8 svg {
    width: 17px;
    height: 8px;
}

.size-17x12 svg {
    width: 17px;
    height: 12px;
}

.size-17x14 svg {
    width: 17px;
    height: 14px;
}

.size-17x16 svg {
    width: 17px;
    height: 16px;
}

.size-18x20 svg {
    width: 18px;
    height: 20px;
}

.size-19x16 svg {
    width: 19px;
    height: 16px;
}

.size-20x14 svg {
    width: 20px;
    height: 14px;
}

.size-20x34 svg {
    width: 20px;
    height: 34px;
}

.size-21x17 svg {
    width: 21px;
    height: 17px;
}

.size-22x30 svg {
    width: 22px;
    height: 30px;
}

.size-24x14 svg {
    width: 24px;
    height: 14px;
}

.size-24x24 svg {
    width: 24px;
    height: 24px;
}

.size-30x32 svg {
    width: 30px;
    height: 32px;
}

.size-36x36 svg {
    width: 36px;
    height: 36px;
}

.size-64x64 svg {
    width: 64px;
    height: 64px;
}

/**
end icon kt
 */

.kt-row {
    margin-left: -15px;
    margin-right: -15px;
}

.kt-row .col-md-12 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.kt-row .col-md-11 {
    padding-left: 15px;
    padding-right: 15px;
    width: 91.66666667%;
}

.kt-row .col-md-10 {
    padding-left: 15px;
    padding-right: 15px;
    width: 83.33333333%;
}

.kt-row .col-md-9 {
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
}

.kt-row .col-md-8 {
    padding-left: 15px;
    padding-right: 15px;
    width: 66.66666667%;
}

.kt-row .col-md-7 {
    padding-left: 15px;
    padding-right: 15px;
    width: 58.33333333%;
}

.kt-row .col-md-6 {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
}

.kt-row .col-md-5 {
    padding-left: 15px;
    padding-right: 15px;
    width: 41.66666667%;
}

.kt-row .col-md-4 {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.33333333%;
}

.kt-row .col-md-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
}

.kt-row .col-md-2 {
    padding-left: 15px;
    padding-right: 15px;
    width: 16.66666667%;
}

.kt-row .col-md-1 {
    padding-left: 15px;
    padding-right: 15px;
    width: 8.33333333%;
}

.owl-theme .owl-dots .owl-dot span {
    height: 8px;
    width: 8px;
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: #248444;
}

.kt-flex-container {
    display: -webkit-flex; /* Safari */
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
}

div.title-lg {
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 15px;
}

div.kt-wrap {
}

div.kt-container {
    max-width: 1366px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

div.kt-head {
}

div.kt-head.sticky {
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 999;
}

div.kt-head.fixed {
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 999;
    width: 100%;
}

div.kt-main {
}

div.kt-col-12, div.kt-col-11, div.kt-col-10, div.kt-col-9, div.kt-col-8, div.kt-col-7, div.kt-col-6, div.kt-col-5, div.kt-col-4, div.kt-col-3, div.kt-col-2, div.kt-col-1 {
    padding-right: 15px;
    padding-left: 15px;
}

div.kt-pull-left {
    float: left;
    text-align: left;
}

div.kt-pull-right {
    float: right;
    text-align: right;
}

nav.kt-main-menu {
    position: relative;
}

nav.kt-main-menu div.kt-pull-left {
    padding-left: 30px;
}

div.kt-logo {
    width: 170px;
    height: 40px;
    float: left;
    position: relative;
    padding: 5px 0;
}

div.kt-logo img {
    border-radius: 4px;
    height: 30px;
    width: 30px;
    border-top: 1px solid #238646;
    border-left: 3px solid #238646;
    border-right: 3px solid #238646;
    border-bottom: 3px solid #238646;
    display: inline-block;
}

div.kt-logo span.span-name-website {
    display: inline-block;
    line-height: 18px;
    font-weight: 900;
    color: #474747;
    font-size: 16px;
    vertical-align: top;
    margin-left: 2px;
}

div.kt-logo span.span-dot-com {
    display: inline-block;
    line-height: 18px;
    color: #474747;
    font-size: 16px;
    margin-left: -3px;
    vertical-align: top;
}

div.kt-logo span.span-slogan {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 18px;
    position: absolute;
    left: 5px;
    bottom: 0;
    font-size: 11px;
    margin-left: 30px;
    color: #474747;
}

nav.kt-main-menu div.kt-pull-left div.kt-fr-search {
    float: left;
    position: relative;
}

nav.kt-main-menu div.kt-pull-left div.kt-fr-search input {
    height: 40px;
    border: 1px solid #D1D1D1;
    border-radius: 20px;
    background-color: #FFFFFF !important;
    padding-right: 13px;
    font-size: 12px;
}

nav.kt-main-menu div.kt-pull-left div.kt-fr-search button {
    background: transparent;
    position: absolute;
    top: 0;
    padding-top: 11px;
    padding-bottom: 9px;
    border-width: 0;
    border-radius: 50px;
    color: #474747;
    font-size: 13px;
}

nav.kt-main-menu div.kt-pull-right {
    padding: 0 30px;
}

nav.kt-main-menu div.kt-pull-right ul {
    margin: 0;
}

nav.kt-main-menu div.kt-pull-right ul li {
    float: left;
    margin-left: 25px;
    position: relative;
}

nav.kt-main-menu div.kt-pull-right ul li.group-03 {
    margin-left: 0;
}

nav.kt-main-menu div.kt-pull-right ul li a {
    padding: 11px 0;
    display: block;
}

nav.kt-main-menu div.kt-pull-right ul li a span {
    font-size: 14px;
    font-weight: 500;
}

nav.kt-main-menu div.kt-pull-right ul li a.clr {
    padding: 0;
    float: left;
}

nav.kt-main-menu div.kt-pull-right ul li a button {
    margin: 0;
    height: 40px;
    border-radius: 22.5px;
    font-weight: 500;
}

nav.kt-main-menu div.kt-pull-right ul li.group-01 a button {
    background-color: #FFFFFF;
    border: 1px solid rgba(36, 132, 68, 0.38);
    color: #248444;
    padding-left: 16px;
    padding-right: 16px;
}

nav.kt-main-menu div.kt-pull-right ul li.group-02 a button {
    background-color: #248444;
    border-width: 0;
    color: white;
    width: 98px;
    text-align: center;
}

nav.kt-main-menu div.kt-pull-right ul li.group-03 a button {
    background-color: white;
    border-width: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 12px;
    margin-left: 15px;
    position: relative;
    overflow: inherit;
}

nav.kt-main-menu div.kt-pull-right ul li.group-03 a button span {
    position: absolute;
    top: 3px;
    right: -5px;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: #F33249;
    display: inline-block;
    color: #FFFFFF;
    font-size: 9px;
    font-weight: 900;
    line-height: 16px;
    text-align: center;
}

nav.kt-main-menu div.kt-pull-right ul li.group-03 a button span[data-number="0"] {
    opacity: 0;
}

.dropdown-toggle::after{
    display: none;
}

.kt-line {
    clear: both;
    width: 100%;
    height: 1px;
    position: relative;
}

.kt-line.grey {
    background-color: #DDDDDD;
}

div.kt-footer {
    padding: 30px;
}

div.kt-footer div.logo-footer {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
}

div.kt-footer div.logo-footer img {
    width: 100%;
    border-radius: 5px;
    border: 9px solid #238646;
}

div.kt-footer div.company-footer {
    padding-left: 60px;
}

div.kt-footer div.company-footer h5 {
    margin: 5px 0 10px 0;
    font-weight: 400;
    font-size: 13px;
}

div.kt-footer div.company-footer h5 b {
    font-weight: 600;
}

div.kt-footer div.company-footer ul {
    margin: 0;
}

div.kt-footer div.company-footer ul li {
    display: inline-block;
    margin-right: 10px;
}

div.kt-footer div.company-footer ul li a {
    font-size: 12px;
}

div.kt-footer div.social {
}

div.kt-footer div.social button {
    border-width: 0;
    border-radius: 220px;
    display: inline-block;
    height: 22px;
    width: 22px;
    text-align: center;
    padding: 0;
}

div.kt-footer div.social button.sface {
    background-color: #4267b2;
}

div.kt-footer div.social button.sgoogle {
    background-color: #f50f25;
}

div.kt-footer div.social button.stwitter {
    background-color: #08a0e9;
}

div.kt-footer div.social button.srss {
    background-color: orange;
}

div.kt-footer div.social button i {
    color: white;
    line-height: 22px;
    font-size: 12px;
}

div.kt-index-page {
    padding: 0 30px;
    max-width: 100%;
    min-width: 330px;
}

/**
phan item project
 */
div.kt-project-item {
    position: relative;
}

div.kt-project-item div.kt-share-box {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    flex-direction: column;
}

div.kt-project-item div.kt-share-box.hover {
    opacity: 0;
}

div.kt-project-item:hover div.kt-share-box.hover {
    opacity: 1;
}

div.kt-project-item div.kt-share-box button {
    height: 30px;
    width: 30px;
    display: block;
    border-radius: 120px;
    background-color: #00000030;
    text-align: center;
    color: white;
    border-width: 0;
    padding-right: 0;
    margin-bottom: 5px;
    padding-top: 7px;
    padding-left: 1px;
}

div.kt-project-item div.kt-share-box button:hover {
    background-color: #000000a6;
}

div.kt-project-item div.item-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    overflow: hidden;
}

div.kt-project-item div.item-image img {
    width: 100%;
}

div.kt-project-item i.ipro {
    position: absolute;
    top: -2px;
    left: 10px;
    z-index: 1;
}

div.kt-project-item div.item-info {
    padding: 10px;
    border: 1px solid #DADADA;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.kt-project-item div.item-info h2 {
    width: 100%;
    height: 32px;
    font-size: 14px;
    line-height: 16px;
    margin: 5px 0 6px 0;
}

div.kt-project-item div.item-info h2 a {
    color: #1B1B1B;
    font-weight: 900;
}

div.kt-project-item div.item-info div.view {
    margin-bottom: 8px;
}

div.kt-project-item div.item-info div.view ul {
    margin: 0;
}

div.kt-project-item div.item-info div.view ul li {
    float: left;
    line-height: 22px;
    display: inline-block;
    min-width: 50px;
    margin-right: 10px;
}

div.kt-project-item div.item-info div.view ul li i {
    opacity: 0.3;
    color: #474747;
}

div.kt-project-item div.item-info div.view ul li span {
    font-weight: 500;
    color: #474747;
    font-size: 12px;
}

.kt-text-right {
    opacity: .6;
    color: #1B1B1B;
    font-size: 12px;
    line-height: 22px;
    text-align: right;
    margin: 0;
    font-weight: 400;
}

.kt-text-right-2 {
    margin: 0;
}

.kt-text-right-2 span {
    color: #1B1B1B !important;
    line-height: 22px !important;
    margin: 0;
    font-weight: 400;
    opacity: .6;
}

div.kt-project-item div.item-info div.customer {
    margin-top: 10px;
}

div.kt-project-item div.item-info div.customer div.avatar {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 120px;
    overflow: hidden;
    float: left;
    margin-right: 5px;
}

div.kt-project-item div.item-info div.customer div.avatar img {
}

div.kt-project-item div.item-info div.customer span {
    line-height: 24px;
    color: #248444;
    font-size: 12px;
}

div.kt-index-category {
    *zoom: 1;
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    min-width: 120px;
    width: 100%;
}

div.kt-index-category:before,
div.kt-index-category:after {
    display: table;
    content: "";
}

div.kt-index-category:after {
    clear: both;
}

div.kt-index-category div.menuH4 {
    float: left;
    position: relative;
}

div.kt-index-category div.menuH4 h4 {
    opacity: 0.5;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    padding: 3px 0;
    margin: 0 35px 0 0;
    display: inline-block;
}

div.kt-index-category div.menuH4 h4:hover {
    opacity: 1;
}

div.kt-index-category div.menuH4 h4.active {
    opacity: 1;
}

div.kt-index-category ul {
    float: right;
    z-index: 5;
}

div.kt-index-category ul li {
    float: left;
    margin-left: 27px;
    position: relative;
}

div.kt-index-category > ul > li {
    position: relative;
}

div.kt-index-category > ul > li.hidden {
    display: none;
}

div.kt-index-category > ul > li:hover {
    background: white;
}

div.kt-index-category > ul > li:hover ul {
    display: block;
    border-radius: 4px;
    border: 1px solid #DADADA;
}

div.kt-index-category ul li form {
    margin: 0;
}

div.kt-index-category ul li a {
    display: block;
    padding: 9px 0 7px 0;
}

div.kt-index-category ul li a span {
}

div.kt-index-category ul.bold li a span {
    font-weight: 600;
    color: #9B9B9B;
}

div.kt-index-category ul li.active a span {
    font-weight: 600;
    color: #474747;
}

div.kt-index-category ul li a.clr {
    padding: 0;
}

div.kt-index-category ul li a button {
    height: 34px;
    border: 1px solid #D1D1D1;
    border-radius: 17.5px;
    background-color: #FFFFFF;
    padding: 0 5px 0 10px;
}

div.kt-index-category ul li a button span {
    font-size: 12px;
    font-weight: 500;
    line-height: 32px;
    display: inline-flex;
    margin-right: 5px;
}

div.kt-index-category ul li a button i {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

div.kt-index-category ul ul {
    background: white;
    display: none;
    list-style: none;
    margin: 0;
    padding: 10px 10px 0 10px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
}

div.kt-index-category ul ul li {
    display: block;
    width: 100%;
    margin-left: 0;
}

div.kt-index-category ul ul li a {
    margin-bottom: 10px;
    padding: 0 10px;
    white-space: nowrap;
    display: block;
}

.kt-btn-more {
    width: 130px;
    border: 1px solid #D1D1D1;
    border-radius: 22.5px;
    background-color: #FFFFFF;
    padding: 5px 7px;
}

.kt-btn-more i {
    height: 32px;
    width: 32px;
}

.kt-btn-more span {
    display: inline-block;
    vertical-align: text-top;
    color: #248444;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 12px;
    font-weight: 500;
    margin: 0 11px 0 3px;
}

/**
phan thong bao notify
 */

div.box-notify {
    visibility: visible;
}

div.box-notify.visibility {
    visibility: hidden;
}

div.box-notify div.fixed {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
}

div.box-notify div.full {
    z-index: 1001;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

div.box-notify div.fixed div.item1 {
    width: 300px;
    z-index: 1004;
    background-color: #1B1B1B;
    position: absolute;
    top: 0;
    left: -300px;
    height: 100%;
}

div.box-notify div.fixed div.item2 {
    width: 320px;
    z-index: 1003;
    background: white;
    position: absolute;
    top: 0;
    left: -320px;
    height: 100%;
}

div.box-notify div.fixed div.item3 {
    width: 420px;
    z-index: 1002;
    background: transparent;
    position: absolute;
    top: 0;
    left: -420px;
    height: 100%;
}

div.box-notify div.fixed button.offNotify {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1005;
    opacity: 0;
}

div.container-logo {
    padding: 20px 30px;
}

div.container-logo div.kt-logo {
}

div.container-logo div.kt-logo a {
    color: white;
}

div.title-bell {
    padding: 20px 30px;
    color: white;
    position: relative;
}

div.title-bell:before {
    position: absolute;
    width: 240px;
    height: 0.6px;
    left: 0;
    bottom: -1px;
    content: '';
    background-color: #424242;
    margin: 0 30px;
}

div.title-bell i {
    margin: 0 7px;
}

div.title-bell span {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: top;
    margin-left: 10px;
}

nav.notify-menu {
}

nav.notify-menu ul {
}

nav.notify-menu ul li {
    height: 60px;
    background-color: transparent;
    padding: 0 30px;
    position: relative;
    border-bottom: 1px solid #1b1b1b;
}

nav.notify-menu ul li:before {
    position: absolute;
    width: 240px;
    height: 1px;
    left: 0;
    bottom: -1px;
    content: '';
    background-color: #424242;
    margin: 0 30px;
}

nav.notify-menu ul li a {
    display: block;
}

nav.notify-menu ul li a button {
    width: 100%;
    line-height: 60px;
    border-width: 0;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    text-align: left;
    position: relative;
    font-size: 14px;
    font-weight: 500;
}

nav.notify-menu ul li a button i {
    color: #FFFFFF;
    height: 32px;
    width: 32px;
    background-color: #248444;
    border-radius: 120px;
    line-height: 32px;
    text-align: center;
    margin-right: 10px;
}

nav.notify-menu ul li a button span {
    display: inline-block;
    vertical-align: middle;
    color: #d0d0d0a3;
    font-weight: 400;
}

nav.notify-menu ul li a button b {
    height: 16px;
    width: 20px;
    border-radius: 8px;
    background-color: #F33249;
    color: #FFFFFF;
    font-size: 9px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    float: right;
    margin-top: 22px;
}

nav.notify-menu ul li a button b[data-number="0"] {
    opacity: 0;
}

nav.notify-menu ul li:last-child,
nav.notify-menu ul li:last-child:before {
    background-color: transparent;
    border-color: transparent;
}

nav.notify-menu ul li.active:before {
    background-color: #1b1b1b;
}

nav.notify-menu ul li.active:after {
    position: absolute;
    width: 240px;
    height: 1px;
    left: 0;
    top: -1px;
    content: '';
    background-color: #1b1b1b;
    margin: 0 30px;
    z-index: 2;
}

nav.notify-menu ul li.active,
nav.notify-menu ul li:hover {
    background-color: #248444;
    border-bottom: 1px solid #1b1b1b;
}

nav.notify-menu ul li.active a button i,
nav.notify-menu ul li:hover a button i {
    background-color: #156630;
}

nav.notify-menu ul li.active a button span,
nav.notify-menu ul li:hover a button span {
    color: white;
}

nav.notify-menu ul ul {
    margin-left: 12px;
    margin-right: -8px;
}

nav.notify-menu ul ul li {
    height: 30px;
    line-height: 30px;
    padding-left: 13px;
    margin-top: 6px;
    border-width: 0;
}

nav.notify-menu ul ul li:before {
    display: none;
}

nav.notify-menu ul ul li a {
    color: #d0d0d0a3;
    font-weight: 300;
    font-size: 12px;
}

nav.notify-menu ul ul li a i {
    opacity: 0.7;
}

nav.notify-menu ul ul li a span {
    display: inline-block;
    white-space: nowrap;
    width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    margin-left: 3px;
}

nav.notify-menu ul ul li a b {
    float: right;
    height: 16px;
    width: 20px;
    border-radius: 8px;
    background-color: #F33249;
    color: #FFFFFF;
    font-size: 9px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-right: -22px;
}

nav.notify-menu ul ul li:hover {
    background-color: #2d2d2d;
    border-radius: 5px;
    overflow: hidden;
}

nav.notify-menu ul ul li:hover:before,
nav.notify-menu ul ul li:hover:after {
    opacity: 0;
}

nav.notify-menu ul ul li:hover a {
    color: white;
}

nav.notify-menu ul ul li:hover a i {
    opacity: 1;
}

div.box-notify div.head {
    padding: 24px 20px 24px 20px;
    background-color: #EEF7F1;
    border-bottom: 1px solid rgba(36, 132, 68, 0.28);
}

div.box-notify div.head i {
    color: #FFFFFF;
    height: 32px;
    width: 32px;
    background-color: #248444;
    border-radius: 120px;
    line-height: 32px;
    text-align: center;
    margin-right: 10px;
}

div.box-notify div.head b {
    display: inline-block;
    vertical-align: middle;
    color: #248444;
    font-size: 18px;
    font-weight: 700;
}

div.box-notify div.head button {
    background-color: transparent !important;
    border-width: 0;
    color: #474747;
    padding-right: 0;
}

div.box-notify div.head button:after {
    display: none;
}

div.box-notify div.title {
    padding: 11px 20px 11px 18px;
    background-color: #F1F1F1;
    position: relative;
}

div.box-notify div.title i {
    font-size: 14px;
    margin-right: 6px;
    vertical-align: middle;
}

div.box-notify div.title b {
    color: #1b1b1b;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    display: inline-block;
    vertical-align: bottom;
}

div.box-notify div.title span {
    height: 16px;
    min-width: 18px;
    border-radius: 8px;
    background-color: #F33249;
    color: white;
    display: inline-block;
    float: right;
    text-align: center;
    font-size: 9px;
    font-weight: 400;
    line-height: 16px;
}

div.box-notify div.notify-container {
    padding: 10px 20px 0 20px;
}

div.box-notify div.notify-container div.item-box {
    padding: 10px 0 7px 0;
    border-bottom: 1px solid #e2e2e2;
    cursor: pointer;
}

div.box-notify div.notify-container div.item-box:last-child {
    border-bottom: 1px solid transparent;
}

div.box-notify div.notify-container div.item-box div.avatar {
    height: 32px;
    width: 32px;
    opacity: 0.9;
    display: inline-block;
    border-radius: 120px;
    overflow: hidden;
    float: left;
}

div.box-notify div.notify-container div.item-box div.avatar img {
}

div.box-notify div.notify-container div.item-box div.info {
    margin-left: 47px;
}

div.box-notify div.notify-container div.item-box div.info div.one {
    height: 20px;
}

div.box-notify div.notify-container div.item-box div.info div.one b {
    color: #1B1B1B;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    display: inline-block;
}

div.box-notify div.notify-container div.item-box div.info div.one b.time {
    opacity: 0.5;
    color: #1B1B1B;
    font-weight: 400;
}

div.box-notify div.notify-container div.item-box div.info div.two {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 4px;
}

div.box-notify div.notify-container div.item-box div.info div.two b {
    font-weight: 700;
}

div.box-notify div.notify-container div.item-box div.info div.three {
    position: relative;
}

div.box-notify div.notify-container div.item-box div.info div.three i {
    position: absolute;
    bottom: 8px;
    right: 0;
    color: #248444;
}

div.box-notify div.notify-container div.item-box div.info div.four {
    color: #1b1b1b96;
    font-size: 12px;
    line-height: 22px;
}

div.box-notify div.notify-container div.item-box div.info div.five {
    font-weight: 500;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 4px;
}

div.box-notify div.notify-container div.not-database {
    text-align: center;
    padding: 43px 0;
}

div.box-notify div.notify-container div.not-database i {
    margin-bottom: 26px;
}

div.box-notify div.notify-container div.not-database b {
    color: #9B9B9B;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    display: block;
}

button.submitBut {
    border-radius: 25px;
    background-color: white;
    border: 1px solid #D1D1D1;
    color: #9B9B9B;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding: 8px 10px;
}

button.submitBut i {
    display: inline-flex;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

button.submitBut i svg {
    width: 34px;
    height: 16px;
}

button.submitBut span {
    display: inline-flex;
    color: #474747;
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
    margin: 0 10px;
    opacity: 0.4;
    vertical-align: bottom;
}

/**
grid phan cot
 */
.grid-container-1 {
    display: grid;
    grid-template-columns: minmax(min-content, 100%);
    grid-gap: 0;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: minmax(min-content, 50%) minmax(min-content, 50%);
    grid-gap: 0;
}

div.grid-container-2-lr {
    display: grid;
    grid-template-columns: 480px minmax(320px, auto);
    grid-gap: 0;
}

div.grid-container-2-fix {
    display: grid;
    grid-template-columns: minmax(min-content, auto) 320px;
    grid-gap: 0;
}

div.grid-container-2-user {
    display: grid;
    grid-template-columns: 320px minmax(320px, auto);
    grid-gap: 30px;
}

.grid-container-2-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0;
}

.grid-container-3 {
    display: grid;
    grid-template-columns: minmax(min-content, 33.333%) minmax(min-content, 33.333%) minmax(min-content, 33.333%);
    grid-gap: 0;
}

.grid-container-3-fix {
    display: grid;
    grid-template-columns: 300px auto auto;
    grid-gap: 0;
}

.grid-container-4 {
    display: grid;
    grid-template-columns: minmax(min-content, 25%) minmax(min-content, 25%) minmax(min-content, 25%) minmax(min-content, 25%);
    grid-gap: 0;
}

.grid-container-5 {
    display: grid;
    grid-template-columns: minmax(min-content, 20%) minmax(min-content, 20%) minmax(min-content, 20%) minmax(min-content, 20%) minmax(min-content, 20%);
    grid-gap: 0;
}

.grid-container-6 {
    display: grid;
    grid-template-columns: minmax(min-content, 16.666667%) minmax(min-content, 16.666667%) minmax(min-content, 16.666667%) minmax(min-content, 16.666667%) minmax(min-content, 16.666667%) minmax(min-content, 16.666667%);
    grid-gap: 0;
}

.grid-container-1 > .item,
.grid-container-2 > .item,
.grid-container-3 > .item,
.grid-container-4 > .item,
.grid-container-5 > .item,
.grid-container-5 > .item {
    padding: 15px;
}

/**
en grid
 */