div.left-50 {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    padding: 9% 10% 1% 8%;
    background-color: #000000eb;
}

div.left-50 h1.titleH1 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    margin: 20px 0;
}

div.left-50 h2.titleH2 {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

div.left-50 div.box-note {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    margin-bottom: 10px;
}

div.left-50 div.box-note h3 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
}

div.left-50 div.box-note p {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
    font-weight: 300;
}

div.right-50 {
}

div.right-50 button.btn-off-modal {
    height: 42px;
    width: 42px;
    border-radius: 30px;
    background-color: rgba(232, 232, 232, 0.75);
    display: block;
    padding: 0;
    text-align: center;
    border-width: 0;
    position: fixed;
    top: 10px;
    right: 10px;
}

div.right-50 div.box-right {
    padding: 10% 4% 0;
}

div.right-50 div.box-right h2 {
    color: #1B1B1B;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
}

div.right-50 div.box-right b {
    color: #1B1B1B;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    display: block;
    margin-bottom: 5px;
}

div.right-50 div.box-right p {
    color: #1B1B1B;
    font-size: 14px;
    line-height: 16px;
}

div.right-50 div.box-right p span {
    color: #248444;
}

div.right-50 div.box-right p b {
}

div.right-50 div.grid-two-160 {
    display: grid;
    grid-template-columns: 160px auto;
    margin: 0 -15px;
    grid-gap: 30px;
    padding: 15px;
}

button.btn-add-avatar {
    height: 155px;
    width: 100%;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.06);
    display: block;
    position: relative;
    padding: 0;
}

button.btn-add-avatar div {
    box-sizing: border-box;
    height: 128px;
    width: 128px;
    border: 1px dashed #D1D1D1;
    border-radius: 63.5px;
    background-color: #FFFFFF;
    display: inline-block;
    margin: 0 auto;
    padding-top: 45px;
}

button.btn-add-project {
    background-color: rgba(0, 0, 0, 0.06);
    width: 100%;
    padding: 30px 0;
}

button.btn-add-project i {
    height: 42px;
    width: 42px;
    border-radius: 21px;
    background-color: #248444;
    color: white;
    line-height: 42px;
    text-align: center;
}

button.btn-fixed-close {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 42px;
    width: 42px;
    background-color: #FFFFFF;
    border-radius: 120px;
}
