.grid-container-3,
.grid-container-4{
    display: block;
    grid-template-columns: unset;
    grid-gap: 0;
    margin: 0 auto;
}
/* masony index */
.grid-index-01:after {
    content: '';
    display: block;
    clear: both;
}

div.grid-index-01 div.item {
    max-width: 310px;
    float: left;
}

.grid-index-02:after {
    content: '';
    display: block;
    clear: both;
}

div.grid-index-02 div.item {
    max-width: 232.5px;
    float: left;
}

.grid-index-03:after {
    content: '';
    display: block;
    clear: both;
}

div.grid-index-03 div.item {
    max-width: 310px;
    float: left;
}

@media only screen and (max-width: 820px) {
    div.kt-main.grid-container-2-lr {
        display: block;
        grid-template-columns: unset;
        grid-gap: 0;
        min-width: 320px;
    }

    div.kt-main.grid-container-2-lr div.kt-index-left {
        background-color: #e6f1f9;
    }

    div.kt-index-page {
        min-width: 320px;
        padding: 0 15px;
    }

    div.kt-head.fixed,
    div.kt-head {
        background-color: #e6f1f9;
        background-image: unset;
    }

    div.kt-index-scroll-right {
        margin-left: 15px;
    }
}