/**
** phan kien truc su tieu bieu
** responsive on mobile
 */
div.kt-row{
    padding: 0 10px;
}
div.grid-masonry-project{
    min-width: 100%;
    max-width: 100%;
}
div.grid-masonry-project div.item{
    width: 100%;
    padding: 0 5px;
}

div.grid-masonry-project div.item div.kt-project-item{
    margin: 10px 0;
    padding: 0 5px;
    width: 100%;
}

div.grid-masonry-category{
    min-width: 100%;
    max-width: 100%;
}
div.grid-masonry-category div.item{
    width: 100%;
    padding: 0 5px;
}

div.grid-masonry-category div.item div.kt-category-item{
    margin: 10px 0;
    padding: 0 5px;
    width: 100%;
}

/** CATEGORY **/
div.index-category div.menuH4 h4 {
    font-size: 18px;
}

div.index-category ul li > a > button {
    border-color: transparent;
}

div.index-category ul li > a > button > i {
    display: none;
}

div.index-category ul li > a > button > span {
    line-height: 28px;
    font-size: 14px;
    vertical-align: text-top;
    font-weight: 500;
    color: #248444;
}

div.index-category ul li.active > a > span {
    font-weight: 500;
    color: #248444;
}

div.index-category ul li.more {
    margin-left: 0;
}

div.index-category ul li.more > button {
    display: inline-block;
    padding-top: 6px;
}

/** END CATEGORY **/

/** SLIDE SCROLL **/
div.index-right-scroll {
    overflow: hidden;
}

div.index-right-scroll div.scroll-box {
    width: 1400px;
    padding-left: 20px;
}

div.index-right-scroll div.scroll-box div.item-kts {
    width: 60px;
    text-align: center;
}

div.index-right-scroll div.scroll-box div.item-kts div.avatar {
    display: inline-block;
    border: 1px solid #D1D1D1;
    border-radius: 30px;
    padding: 4px;
    position: relative;
}

div.index-right-scroll div.scroll-box div.item-kts div.avatar i {
    position: absolute;
    bottom: 0;
    right: 7px;
    z-index: 1;
    color: #7ED321;
    border: 2px solid white;
    background: white;
    border-radius: 250px;
    font-size: 8px;
}

div.index-right-scroll div.scroll-box div.item-kts div.avatar div.bg {
    border-radius: 30px;
    overflow: hidden;
    background: red;
}

div.index-right-scroll div.scroll-box div.item-kts div.avatar div.bg img {
    height: 50px;
    width: 50px;
}

div.index-right-scroll div.scroll-box div.item-kts div.fullname {
    padding: 5px 0 0 0;
    display: block;
}

div.index-right-scroll div.scroll-box div.item-kts div.fullname b {
    display: block;
    color: #248444;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    white-space: nowrap;
    width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
}

div.index-right-scroll div.scroll-box div.item-kts div.fullname i {
    display: none;
}

div.index-right-scroll div.scroll-box div.item-kts div.fullname span {
    display: block;
    opacity: 0.5;
    color: #1B1B1B;
    font-size: 10px;
    line-height: 16px;
}

/** END SLIDE SCROLL **/

/** ITEM PROJECT CSS **/

@media only screen and (max-width: 619px) {
    div.grid-masonry-project div.item{
        width: 100%;
    }
}

@media only screen and (min-width: 620px) {
    div.grid-masonry-project div.item{
        width: 50%;
    }
}

@media only screen and (min-width: 920px) {
    div.grid-masonry-project div.item{
        width: 33.333%;
    }
}

@media only screen and (min-width: 1220px) {
    div.grid-masonry-project div.item{
        width: 25%;
    }
}

@media only screen and (min-width: 1520px) {
    div.grid-masonry-project div.item{
        width: 20%;
    }
}

@media only screen and (min-width: 1820px) {
    div.grid-masonry-project div.item{
        width: 16.667%;
    }
}

/** END ITEM PROJECT CSS **/

/** ITEM CATEGORY CSS **/
@media only screen and (max-width: 374px) {
    div.grid-masonry-category div.item{
        width: 100%;
    }
}

@media only screen and (min-width: 375px) {
    div.grid-masonry-category div.item{
        width: 50%;
    }
}

@media only screen and (min-width: 620px) {
    div.grid-masonry-category div.item{
        width: 33.333%;
    }
}

@media only screen and (min-width: 820px) {
    div.grid-masonry-category div.item{
        width: 25%;
    }
}

@media only screen and (min-width: 1020px) {
    div.grid-masonry-category div.item{
        width: 20%;
    }
}

@media only screen and (min-width: 1220px) {
    div.grid-masonry-category div.item{
        width: 16.667%;
    }
}

@media only screen and (min-width: 1420px) {
    div.grid-masonry-category div.item{
        width: 14.285%;
    }
}

@media only screen and (min-width: 1620px) {
    div.grid-masonry-category div.item{
        width: 12.5%;
    }
}

/** END ITEM CATEGORY CSS **/

/** ITEM NEWS CSS **/
div.index-box-news {
    overflow: hidden;
    max-width: 100%;
    padding-left: 10px;
}
div.kt-news-item {
    width: 100%;
    padding: 0 10px;
    margin: 10px 0;
}
div.index-box-news div.grid-container-3{
    width: 1400px;
}

/** END ITEM NEWS CSS **/

/** CSS BOX SEARCH INDEX **/
@media only screen and (max-width: 420px) {
    div.grid-search-5 div.td.item-01,
    div.grid-search-5 div.td.item-02,
    div.grid-search-5 div.td.item-03,
    div.grid-search-5 div.td.item-04{
        min-width: 100%;
    }
    div.grid-search-5 div.td.item-04 button{
        width: 100%;
    }
}

@media only screen and (min-width: 420px) {
    div.grid-search-5 div.td.item-01,
    div.grid-search-5 div.td.item-02,
    div.grid-search-5 div.td.item-03,
    div.grid-search-5 div.td.item-04{
        min-width: 48%;
    }
    div.grid-search-5 div.td.item-04 button{
        width: 100%;
    }
}

@media only screen and (min-width: 630px) {
    div.grid-search-5 div.td.item-01,
    div.grid-search-5 div.td.item-02,
    div.grid-search-5 div.td.item-03,
    div.grid-search-5 div.td.item-04{
        min-width: 32%;
    }
}

@media only screen and (min-width: 840px) {
    div.grid-search-5 div.td.item-01,
    div.grid-search-5 div.td.item-02,
    div.grid-search-5 div.td.item-03,
    div.grid-search-5 div.td.item-04{
        min-width: 24%;
    }
}

@media only screen and (min-width: 1024px) {
    div.bg-search div.box-form div.grid-search-5{
        max-width: 1024px;
        margin: 0 auto;
    }
    div.grid-search-5 div.td.item-04 button{
        width: inherit;
    }
}

/** END CSS BOX SEARCH INDEX **/